.ui-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    align-self: stretch;
    box-sizing: border-box
}

.ui-loading svg {
    height: 40%;
    max-height: 20px;
    max-width: 80%;
    stroke: transparent
}

.ui-loading circle {
    transform-origin: center;
    will-change: transform;
    animation-timing-function: linear
}

.ui-loading circle:nth-child(1) {
    animation: lds-1 .6s infinite
}

.ui-loading circle:nth-child(2) {
    animation: lds-2 .6s infinite
}

.ui-loading circle:nth-child(3) {
    animation: lds-2 .6s infinite
}

.ui-loading circle:nth-child(4) {
    animation: lds-3 .6s infinite
}

@keyframes lds-1 {
    0% {
        transform: scale(.4) translate(28.57%);
        opacity: .3
    }
    to {
        transform: scale(1) translate(0);
        opacity: 1
    }
}

@keyframes lds-2 {
    0% {
        transform: translate(0)
    }
    to {
        transform: translate(28.57%)
    }
}

@keyframes lds-3 {
    0% {
        transform: scale(1) translate(0);
        opacity: 1
    }
    to {
        transform: scale(.4) translate(-28.57%);
        opacity: .3
    }
}